# Used for creating the package
PYPI_TOKEN=op://dev/pypi/credential

R2_ACCOUNT_ID=op://dev/r2/username
R2_BUCKET=op://dev/r2/bucket
R2_ACCESS_KEY_ID=op://dev/r2/id
R2_SECRET_ACCESS_KEY=op://dev/r2/secret
R2_REGION=auto
R2_PREFIX=

# Optional override. Leave unset to use:
# https://<R2_ACCOUNT_ID>.r2.cloudflarestorage.com
# R2_ENDPOINT_URL=

# Legacy aliases are still accepted:
# CF_ACCT_ID=
# CF_R2_REGION=
