[tool.poetry]
name = "cloudflare-r2"
description = "Wrapper around commonly used boto3 functions in Cloudflare R2 API."
version = "0.0.2"
authors = ["Marcelino G. Veloso III <mars@veloso.one>"]
readme = "README.md"
homepage = "https://mv3.dev"
repository = "https://github.com/justmars/cloudflare-r2"
documentation = "https://mv3.dev/cloudflare-r2"
classifiers = [
  "Programming Language :: Python :: 3.11",
  "Typing :: Typed",
  "Development Status :: 4 - Beta",
  "Framework :: Pytest",
]

[tool.poetry.dependencies]
python = "^3.11"
python-dotenv = "^1.0"
boto3 = "^1.26"
start-cloudflare = "^0.0.1"

[tool.poetry.group.dev.dependencies] # latest as of Jan. 2023
rich = "^13.3"
pytest = "^7.2"
pytest-datadir = "^1.4.1"
pytest-cov = "^2.12.1"
pre-commit = "^2.21"
mkdocs = "^1.4.2"
mkdocstrings = { extras = ["python"], version = "^0.20.0" }
mkdocs-material = "^9.1"
ipykernel = "^6.22.0"

[tool.pytest.ini_options]
minversion = "7.3"
addopts = "-ra -q --doctest-modules --cov"
filterwarnings = [
  "ignore::DeprecationWarning", # DeprecationWarning: pkg_resources is deprecated as an API
]
testpaths = ["tests", "cloudflare_r2"]

[tool.ruff]
ignore = ["F401", "F403"]
fixable = ["F", "E", "W", "I001"]
select = ["F", "E", "W", "I001"]

[build-system]
requires = ["poetry-core>=1.3.2"]
build-backend = "poetry.core.masonry.api"
